{% extends "blog/base.html" %}
{% block title %} Share a Post {% endblock %}
{% block content %}
    {% if sent %}
        <h1>Email enviado Correctamente...</h1>
            <p>
                "{{ post.title }}" fue enviado a: {{ form.created_data.to }}.
            </p>
    {% else %}
        <h1>Share "{{ post.title }}" by e-mail</h1>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>
    {% endif %}
{% endblock %}